.explore-item{
    width: 210px;
    height: 151px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.explore-img{
    width: 50px;
    height: 50px;
}

.explore-line{
    width: 50px;
    height: 2px;
    background-color: #d3d3d3;
    transition: all .3s ease;
}

.explore-item:hover{
    .explore-line{
        width: 80px;
        background-color: #1dbf73;
    }
}


.explore-item span{
    font-weight: 300;
    font-family: Roboto, sans-serif;
}


@media screen and (max-width: 700px){
    /* .explore-item{
        gap: 0px;
    } */
}

