/* Navbar Part */
header{
    padding: 11px 0px;
    /* color: white; */
    position: sticky;
    top: 0;
    z-index: 99;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.header-default{
    background-color: transparent;
    color: white;
}

.header-scroll{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 7px black;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-part-1, .navbar-part-2{
    display: flex;
    align-items: center;
}


.nav-logo{
    /* display: flex; */
    display: none;
    margin: 0px 16px;
}

.nav-size-icon{
    width: 35px; 
    height: 35px;
    cursor: pointer;
}


.nav-logo-visible, .nav-login-visible{
    display: none;
}

.nav-logo-heading{
    margin: 0px 18px;
}

.toggle-links{
    display: flex;
}

.display-links{
    display: none;
}

.nav-link, .nav-search{
    margin: 0px 27px;
}

.nav-link a:hover{
    color: rgb(215, 202, 202);
}

.nav-login-link:hover{
    color: rgb(215, 202, 202);
}


.nav-login{
    display: flex;
    margin: 0px 16px;
}

.profile-icon{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-right: 7px;
}



/* Responsiveness */
@media screen and (max-width: 1000px) {
    header{
        padding: 0;
    }    
    
    .nav-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 9px 0px;
        background-color: transparent;
        /* border-bottom: 1px solid white; */
        /* box-shadow: 0px 0px 5px black; */
    }
    
    .navbar-part-1, .toggle-links {
        display: block;
        width: 100%;
    }

    .responsive-logo-edit{
        display: flex;
        align-items: center;
    }
    
    .nav-logo-heading{
        display: none;
    }

    .nav-logo-visible, .nav-login-visible{
        display: block;
    }
    
    .nav-logo-visible{
        display: inline-block;
        margin: 0px 13px;
    }

    .nav-link{
        margin: 0;
        padding: 11px 0px;
        /* border-bottom: 1px solid black; */
        box-shadow: 0px 0px 2px black;
        text-align: center;
        background-color: white;
    }

    .nav-link:hover{
        background-color: rgb(215, 202, 202);;
    }

    /* .nav-link a{
        font-weight: 510;
    } */
        
    /* .toggle-links a{
        font-weight: 510;
    } */

    .nav-size-icon{
        background-color: none;
    }

    
    .toggle1{
        /* visibility: hidden; */
        height: 0px;
        display: none;
        transition: all .5s;
    }
    
    .toggle2{
        /* visibility: visible; */
        /* height: 178px; */
        display: block;
        transition: all .5s;
        /* background-color: white; */
        color: black;
    }

    .navbar-part-2{
        display: none;
    }
}

@media screen and (max-width: 235px) {
    .nav-logo{
        margin: 0;
    }

    .nav-login-visible{
        display: none;
    }
}