.service-card {
    font-family: Arial, sans-serif;
    min-width: 255px;
    height: 342px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: white;
    padding: 20px 14px;
    /* background: url('https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741678/logo-design-2x.png') no-repeat center center/cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
    margin-right: 40px;
    margin-bottom: 11px;
    box-shadow: 0px 0px 7px black;
}

.service-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.service-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.service-content {
    position: relative;
    z-index: 1;
}
.service-category {
    /* font-size: 18px; */
    font-weight: bold;
}
.service-tagline {
    font-size: 14px;
    margin-top: 5px;
}